$black-1: #626977;
$black-2: #464d59;
$black-3: #282c34;
$black-4: #191f2b;
$black-5: #0f1726;
$black: $black-3;
$white: #fefefe;
$white-1: #f2f2f2;
$white-2: #e2e2e2;
$white-3: #d0d0d0;
$white-4: #c3c3c3;
$white-5: #b0b0b0;
